$primaryFont: "Poppins", sans-serif;
$subFont: "Sora", sans-serif;

$primaryColor: #ffb128;
$subColor: #23B135;
$textColor: #4c4d52;

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
